Question 1

In [3]:
a=int(input("Enter your number "))
i=1
if(a>0):
    while (a>0):
        i=i*a
        a=a-1
    print(i)
elif(a==0):
    print("1")
else:
    print("Enter a valid number")

Enter your number 5
120

Question 2

In [8]:
list=[1,2,3,4]
i=1
while(i==1):
    list.reverse()
    print(list)
    i=i-1

[4, 3, 2, 1]

Question 3

In [64]:
n=int(input("How many numbers of fibonacci series do you want "))
a=1
b=0
c=0
while(n>0):
    if(n>0):
        print(a)
    n=(n-1)
    if(n>0):
        b=a+c
        print(b)
    n=(n-1)
    if(n>0):
        c=a+b
        print(c)
    a=b+c
    n=(n-1)

How many numbers of fibonacci series do you want 10
1
1
2
3
5
8
13
21
34
55

Question 4

In [31]:
a=2+4+6+8+10
print(a)

30

Question 5

In [29]:
a=int(input("Enter lowest number "))
b=int(input("Enter largest number "))
c=int(input("Enter number from which you have to divide "))
count=0
for i in range(a,b):
    d=1
    while(d>0):
        d=d-1
        if(i%c==0):
            count=count+1
print(count,"numbers are divisible by",c)

Enter lowest number 1
Enter largest number 30
Enter number from which you have to divide 3
9 numbers are divisible by 3

Question 6

In [36]:
n=5
a,b,c,d=5,6,7,8
while(n>0):
    n=n-1
    print(a,b,c,d)
    a,b,c,d=(a+10),(b+10),(c+10),(d+10)

5 6 7 8
15 16 17 18
25 26 27 28
35 36 37 38
45 46 47 48

Question 7

In [1]:
a=int(input("Enter first number "))
b=int(input("Enter second number "))
c=int(input("Enter third number "))
if(a>b):
    if(a>c):
        if(b>c):
            print(a, ">" ,b, ">" ,c)
        else:
            print(a, ">" ,c, ">" ,b)
    else:
        print(c, ">" ,a, ">" ,b)
elif(b>a):
    if(b>c):
        if(a>c):
            print(b, ">" ,a, ">" ,c)
        else:
            print(b, ">" ,c, ">" ,a)
    else:
        print(c, ">" ,b, ">" ,a)  
elif(a==b):
    if(c>a):
        print(c, ">" ,a, "=" ,b)
    else:
        print(a, "=" ,b, ">" ,c)
elif(b==c):
    if(a>b):
        print(a, ">" ,b, "=" ,c)
    else:
        print(b, "=" ,c, ">" ,a)
elif(a==c):
    if(b>a):
        print(b, ">" ,a, "=" ,c)
    else:
        print(a, "=" ,c, ">" ,b)
else:
    print(a, "=" ,b, "=" ,c)

Enter first number 20
Enter second number 30
Enter third number 50
50 > 30 > 20

Question 8

In [11]:
a=int(input("Enter 1st subject marks "))
b=int(input("Enter 2nd subject marks "))
c=int(input("Enter 3rd subject marks "))
d=int(input("Enter 4th subject marks "))
e=int(input("Enter 5th subject marks "))
total=a+b+c+d+e
average=total/5
if(average<35):
    print("E is your grade", total, "is your total and", average, "are your average marks")
elif((average>=35) and (average<50)):
    print("D is your grade" , total, "is your total and", average, "are your average marks")
elif((average>=50) and (average<60)):
    print("C is your grade" , total, "is your total and", average, "are your average marks")
elif((average>=60) and (average<70)):
    print("B is your grade" , total, "is your total and", average, "are your average marks")
elif((average>=70) and (average<80)):
    print("A is your grade" , total, "is your total and", average, "are your average marks")
else: 
    print("O is your grade" , total, "is your total and", average, "are your average marks")

Enter 1st subject marks 100
Enter 2nd subject marks 100
Enter 3rd subject marks 100
Enter 4th subject marks 100
Enter 5th subject marks 100
O is your grade 500 is your total and 100.0 are your average marks

Question 9

In [14]:
a=int(input("Enter number of bananas "))
b=a//12
c=a%12
print("You have",b,"dozen and",c,"extra bananas")

Enter number of bananas 37
You have 3 dozen and 1 extra bananas

Question 10

In [11]:
a=input("Enter a name ")
i=0
l=len(a)
while(l>i):
    l=l-1
    if(a[i]!=a[l]):
        print("Not a palindrome")
        break
    else:
        i=i+1
    print("Palindrome")
    break

Enter a name naman
Palindrome

Question 11

In [16]:
a=int(input("Enter a number "))
b=a*2
if(a>=5):
    print(b)
else:
    print(a)

Enter a number 8
16

Question 12

In [2]:
a=int(input("Enter a +ve number "))
while(a>0):
    print(a)
    a=a-1

Enter a +ve number 10
10
9
8
7
6
5
4
3
2
1

Question 13

In [5]:
a=1500
b=2700
while(b>=a):    
    if((a%7==0) and (a%5==0)):
        print(a)
    a=a+1

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

Question 14

In [5]:
y=0
count=4
while(y<5):
    y=y+1
    print("*" * (y))    
while(count>=0):
    print("*" * (count))
    count=count-1

*
**
***
****
*****
****
***
**
*

Question 15

In [2]:
for h in range (0,7):
    if(h==3 or h==6):
        continue
    print(h,end=' ')

0 1 2 4 5

Question 16

In [7]:
a=input("Enter text ")
count1=0
count2=0
i=len(a)
while(i>0):
    i=i-1
    if(a[i].isdigit()):
        count1=count1+1
    else:
        count2=count2+1
print("letters ",count2)
print("digits ",count1)

Enter text dad1
letters  3
digits  1

Question 18

In [16]:
a=input("Enter name of month ")
if(a=='January' or a=='March' or a=='May' or a=='July' or a=='August' or a=='October' or a=='December'):
    x=31
elif(a=='April' or a=='June' or a=='September' or a=='November'):
    x=30
elif(a=='February'):
    x="28/29 days"
else:
    x="Enter a valid month"
print(x)

Enter name of month june
Enter a valid month

Question 19

In [ ]:
print("Input lengths of the triangle sides:")
x=input("x: ")
y=input("y: ")
z=input("z: ")
if(x==y==z):
    print("Equilateral triangle")
elif((x==y or y==x) or (y==z or z==y) or (x==z or z==x)):
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Input lengths of the triangle sides:

Question 20

In [15]:
a=int(input("Input a year: "))
b=int(input("Input a month [1-12]: "))
c=int(input("Input a day [1-31]: "))
c=c+1
if(c>31):
    b=b+1
if(b>12):
    a=a+1
print("The next date is [yyyy-mm-dd]",a,"-",b,"-",c)

Input a year: 6
Input a month [1-12]: 6
Input a day [1-31]: 6
The next date is [yyyy-mm-dd] 6 - 6 - 7

Question 21

In [20]:
a=int(input("Input first number "))
b=int(input("Input second number "))
c=int(input("Input third number "))
if(a>b):
    if(c>b):
        if(a>c):
            print("The median is",c)
        else:
            print("The median is",a)
    else:
            print("The median is",b)
else:
    if(c>a):
        if(c>b):
            print("The median is",b)
        else:
            print("The median is",c)
    else:
        print("The median is",a)

Input first number 1
Input second number 2
Input third number 4
The median is 2

Question 22

In [21]:
a=int(input("Input a number: "))
b=1
while(b<=10):
    c=a*b
    print(a,"*",b,"=",c)
    b=b+1

Input a number: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Question 23

In [10]:
a=1
b=1
while(a<10):
    print(a * b)
    a=a+1
    b=1*(10**(a)-1)//9

1
22
333
4444
55555
666666
7777777
88888888
999999999

Question 24

In [20]:
import datetime
today=datetime.datetime.today()
print(today)

2019-08-21 11:08:15.064544

Question 25

In [17]:
a=input("Enter first name ")
b=input("Enter last name ")
x=len(a)
y=len(b)
while(x>0):
    x=x-1
    f=a[x]  
    print(f,end = ' ')
while(y>0):
    y=y-1
    l=b[y]
    print(l,end = ' ')

Enter first name hsrah
Enter last name nohdrrev
h a r s h v e r r d h o n

Question 26

In [28]:
n=int(input("Enter integer value "))
a=11*n
b=111*n
z=n+a+b
print(z)

Enter integer value 5
615

Question 27

In [30]:
a=int(input("Enter 1st integer value "))
b=int(input("Enter 2nd integer value "))
c=int(input("Enter 3rd integer value "))
y=a+b+c
z=3*y
if(a==b==c):
    print(z)
else:
    print(y)

Enter 1st integer value 2
Enter 2nd integer value 1
Enter 3rd integer value 3
6

Question 28

In [1]:
p=int(input("Enter amount "))
r=float(input("Enter rate of interest "))
t=int(input("Enter amount of time in years "))
s=(p*r*t)/100
f=p+s
print(f)

Enter amount 10000
Enter rate of interest 3.5
Enter amount of time in years 7
12450.0

Question 29

In [33]:
a=int(input("Enter seconds "))
h=a//3600
m=(a%3600)//60
s=(a%60)%60
print(h,"hour/s",m,"minute/s",s,"second/s")

Enter seconds 3601
1 hour/s 0 minute/s 1 second/s

Question 30

In [16]:
a=int(input("Enter 1st number "))
b=int(input("Enter 2nd number "))
c=int(input("Enter 3rd number "))
x=max(a,max(b,c))
y=min(a,min(b,c))
z=(a+b+c)-(x+y)
print(x, ">",z, ">",y)

Enter 1st number 1
Enter 2nd number 2
Enter 3rd number 3
3 > 2 > 1